@use "../core/variables" as *;
@use "../core/mixins" as *;

.vacancy-wrap {
  padding: 20px 0;

  h3 {
    font-size: var(--fontSize22);
    color: var(--color-primary);
    margin-bottom: 15px;
  }

  p {
    font-size: var(--fontSize16);
    line-height: 1.7;
    color: #555;
    margin-bottom: 12px;
  }
}
