@use "../../core/variables" as *;
@use "../../core/mixins" as *;
@use "../generic/sizes" as *;

.u-loader {
  $selfLoader: &;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  position: fixed;
  left: 0;
  top: 0;
  @include size(100%);
  z-index: 999;

  &_head {
    padding: 30px 25px 20px;
    border-bottom: 1px solid var(--themeBorder1);
    position: relative;
  }

  &_close {
    position: absolute;
    right: 20px;
    top: 25px;
    background-color: transparent;
    outline: none;
    border: none;

    img {
      @include rotate(0);
      @include transition(all 0.3s ease-in-out);

      &:hover {
        @include rotate(180);
        @include transition(all 0.3s ease-in-out);
      }
    }
  }

  &_overlay {
    display: block;
    background-color: rgba(var(--baseBlack), 0.5);
    position: absolute;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 10;
  }

  &.d1 {
    #{$selfLoader} {
      &_container {
        z-index: 11;
        background-color: var(--white);
        border: 1px solid var(--themeBorder1);
        box-shadow: 0 4px 50px 0 rgba(var(--baseBlack), 0.4);
        @include border-radius(40px);
        max-width: 700px;
        width: 100%;
        overflow: hidden;
      }

      &_body {
        padding: 30px 40px;
        min-height: 100px;
        text-align: center;

        p {
          font-size: var(--fontSize22);
         font-weight: var(--fontLight);

          a {
            color: var(--themeClr3);
          }
        }
      }
    }
  }

  &.d2 {
    #{$selfLoader} {
      &_overlay {
        display: none;
      }
    }
  }

  &.d3 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    &.mw_70p {
      #{$selfLoader} {
        &_container {
          max-width: 70%;
          width: 100%;
        }

        &_body,
        &_head {
          width: 100%;
        }
      }
    }

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: var(--white);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        @include flexbox;
        @include flex-direction(column, vertical);
        @include justify-content(center);
        @include align-items(center);
        z-index: 11;
        background: var(--white);
        padding: 40px 60px;
        border-radius: 6px;
        box-shadow: 0px 4px 50px 0px rgba(var(--baseBlack), 0.2);
      }
    }
  }

  &.d4 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 9999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: rgba(var(--baseWhite), 0.8);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        z-index: 11;
      }
    }
  }

  &.d5 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: rgba(var(--baseWhite), 0.4);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        z-index: 11;
        background-color: var(--white);
        border: 1px solid var(--themeBorder1);
        box-shadow: 0 4px 50px 0 rgba(var(--baseBlack), 0.1);
        @include border-radius(40px);
        max-width: 700px;
        width: 100%;
        overflow: hidden;
      }

      &_head {
        padding: 30px 40px 20px;
        border-bottom: 1px solid var(--themeBorder1);
        position: relative;
      }

      &_body {
        padding: 30px 40px;
        min-height: 100px;
        text-align: center;

        p {
          font-size: var(--fontSize22);
          font-weight: var(--fontLight);

          a {
            color: var(--themeClr3);
          }
        }
      }

      &_close {
        position: absolute;
        right: 20px;
        top: 25px;
        background-color: transparent;
        outline: none;
        border: none;
      }
    }

    &__scrollable {
      .u-loader {
        &_container {
          overflow: auto;
        }

        &_body {
          max-height: 400px;
          overflow-y: auto;
        }
      }
    }
  }

  /* for sidepanel filters use d6 */
  &.d6 {
    position: fixed;
    top: 0;
    @include justify-content(flex-end);
    @include align-items(flex-start);

    #{$selfLoader} {
      &_container {
        max-width: 400px;
        width: 90%;
        height: 100%;
        background-color: var(--white);
        z-index: 999;
        overflow: scroll;
      }
    }
  }

  &.d7 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: rgba(var(--baseWhite), 0.4);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        z-index: 11;
        background-color: var(--white);
        border: 1px solid var(--themeBorder1);
        box-shadow: 0 4px 50px 0 rgba(var(--baseBlack), 0.1);
        @include border-radius(40px);
        max-width: 415px;
        width: 100%;
        overflow: hidden;
      }

      &_head {
        padding: 30px 40px 20px;
        border-bottom: 1px solid var(--themeBorder1);
        position: relative;
      }

      &_body {
        padding: 20px 30px;
        min-height: 100px;
        text-align: center;

        p {
          font-size: var(--fontSize22);
         font-weight: var(--fontLight);

          a {
            color: var(--themeClr3);
          }
        }
      }

      &_close {
        position: absolute;
        right: 20px;
        top: 25px;
        background-color: transparent;
        outline: none;
        border: none;
      }
    }
  }
}

.u-overlay {
  $selfOverlay: &;
  @include flexbox;
  @include justify-content(flex-end);
  @include align-items(center);

  &.d1 {
    position: absolute;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfOverlay} {
      &_overlay {
        display: block;
        background-color: rgba(var(--baseWhite), 0.4);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        position: relative;
        right: 0;
        height: 100%;
        top: 0;
        width: 30%;
        z-index: 100;
        background-color: white;
        border-left: 1px solid var(--themeBorder1);
        // padding: 20px 0;
      }

      &_close {
        position: absolute;
        right: 6px;
        top: 5px;
        background-color: transparent;
        outline: none;
        border: none;
      }

      &_head {
        padding: 30px 25px 20px;
        border-bottom: 1px solid var(--themeBorder1);
        position: relative;
      }

      &_body {
        padding: 30px 25px;
      }
    }
  }
}

.customTop_zeroModal {
  .u-loader {
    &_container {
      padding-top: 0 !important;

    }

    &_close {
      right: 0px;
    }

    &_head {
      padding-left: 0;
      padding-right: 0;
    }

    &_body {
      margin-top: 30px;
    }
  }
}

.u-loader {
  .modal_tables {
    &.admin-table {
      max-height: 300px;
      overflow-x: auto;
    }
  }
}