@use "../core/variables" as *;
@use "../core/mixins" as *;

// ── Pagination ─────────────────────────────────────────────────
.pagination {
  display: inline-block;
  padding: 20px 0;

  button {
    padding: 4px 16px;
    text-decoration: none;
    background: var(--color-grey2);
    color: var(--color-white);
    border: 1px solid #cfb80b;
    border-radius: 20px;
    margin: 0 3px;
    @include transition(all 0.3s ease-in-out);
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #f7f7f7;
      color: #222730;
    }

    &.active {
      background-color: var(--color-primary);
      color: #000;
      border-color: var(--color-primary-border);
    }
  }

  span {
    color: #000;
    font-weight: var(--fontSemiBold);
    display: inline-block;
    padding: 0 8px;
  }
}
