@use "../core/variables" as *;
@use "../core/mixins" as *;


.video-figure {
  width: 100% !important;
  margin: 0 !important;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;            // 16:9 = (9/16)*100

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.video-detail__embed {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 20px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}


.gallery-desc {
  font-size: var(--fontSize14);
  color: #777;
  line-height: 1.7;
  margin-bottom: 16px;
}
